  <hr>
  <script type="text/javascript">
  var d = new Date();
  document.write("<p id='copyright'>" + "Copyright <span>&copy;</span> " + d.getFullYear() + " Anthony Fasano and Richard Gao" + "</p>");
  </script>
  </body>
</html>
