<% include partials/header %>
<div class="ui large fixed inverted menu">
  <div class="ui container">
    <a class="active item" href="/">Home</a>
    <a class="header item" href="/workspace">Workspace</a>
    <div class="right menu">
      <% if (user) { %>
        <a class="item">Hello <%= user.username %></a>
        <a class="item" href="/logout">Logout</a>
      <% } else { %>
        <a class="item" href="/login">Login</a>
        <a class="item" href="/register">Sign Up</a>
      <% } %>
    </div>
  </div>
</div>

<div id="head" class="ui inverted vertical masthead center aligned segment">
  <h1>Collaboradoodle</h1>
  <p>Insert gif here as background of working canvas app with all frontend</p>
</div>
<!-- Workspace link subject to change-->
<a class="ui violet button" href="/workspace">Get Started</a>
<% include partials/footer %>
