<% include partials/header %>
<!-- Menu -->
<div class="ui large fixed inverted menu">
  <div class="ui container">
    <a class="active item" href="/">Home</a>
    <a class="item" href="/workspace">Workspace</a>
    <div class="right menu">
      <% if (user) { %>
        <a class="item">Hello <%= user.username.toUpperCase() %></a>
        <a class="item" href="/logout">Logout</a>
      <% } else { %>
        <a class="item" href="/login">Login</a>
        <a class="item" href="/register">Sign Up</a>
      <% } %>
    </div>
  </div>
</div>

<div id="after-menu" class="ui inverted vertical masthead center aligned segment">
  <h1 class="ui huge header">Collaboradoodle</h1>
  <a class="massive ui violet button" href="/workspace">Get Started</a>
</div>


<% include partials/footer %>
