<% include partials/header %>
<h1>Share Sketch</h1>
<form action="./" method="POST">
  <input type="text" name="user" placeholder="username">
  <button class="ui button">Send Invitation</button>
</form>
<p>URL For Guests</p>
<% include partials/footer %>
